<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
</head>
<body data-spy="scroll" data-target="#mynav" style="overflow-y: auto;">
<div class="preload preload-show">
<div class="logo-pos logo-up">
  <div class="preload-logo"><img class="logo-rotate" src="../img/logo.svg" width="36"></div>
</div>
<p class="text-center start-p start-p-up" >
  <img src="../img/p1.jpg">
  <i> Gavin Ellis & Joe Anderton Launch DTC project.</i>
</p>
<p class="text-center start-stand start-stand-up">
  <img src="../img/stanford-logo.png">
  <i> Combined with Stanford Univercity Engineer Lab for building architecture of DTC.</i>
</p>
<p class="text-center start-vc start-vc-show">
  <img src="../img/westerntech.png">
  <i> DTC Team receive 500 million from Western Technology Investment.</i>
</p>
<p class="text-center start-conference start-conference-show">
  <img src="../img/trade.png">
  <i> Accepted as creative-architecture blockchain in 3rd blockchain technology summit.</i>
</p>
<div class="logo-bottom starMainIn">
  <img class="" src="../img/D logo.png" width="36"></div>
</div>
</div>
<header  class="navbar-fixed-top dtc-nav-color dtc-nav-bg">
<div class="logo">
	<img src="../img/leftlogo2.png">
</div>
<div id="dtchead" class="dropdown mobile-menu" style="">
  <a data-toggle="dropdown" href="#"><img src="../img/menu.png"></a></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a class="page-scroll" href="#dtchead">Home</a></li>
    <li><a class="page-scroll" href="#intro">Intro</a></li>
  <li><a class="page-scroll" href="#mytimeline">Timeline</a></li>
  <li><a class="page-scroll" href="#myteam">Team</a></li>
  </ul>
</div>
<ul id="mynav" class="nav nav-pills col-md-offset-8 common-font" >
  <li class="active"><a class="page-scroll" href="#dtchead">Home</a></li>
  <li><a class="page-scroll" href="#intro">Intro</a></li>
  <li><a class="page-scroll" href="#mytimeline">Timeline</a></li>
  <li><a class="page-scroll" href="#myteam">Team</a></li>
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img src="../img/flag_china.png"><span class="caret"></span>
      </a>
      <ul class="dropdown-menu" style="min-width: 0;">
        <li><a href="#"><img src="../img/flag_usa.png"></a></li>
    </li>
</ul>
</header>
<div class="wrap section">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 ">
<div class="text-center logo-img">
<img src="../img/dt2.png">
</div>
<div class="text-center logo-word">
<img src="../img/DTC-big2.png">
</div>
<h2 class="text-center common-title-font common-title-mobile" style="color: #fff;font-size: 18px;margin-top: 8rem;">The Circulation Of Blockchain Application</h2>
<p class="text-center dtc-btn-margin" >
  <button type="button" class="btn btn-primary btn-lg common-font mobile-button">TOKEN SALE</button>
  <a href="../pdf/white-paper.pdf"><button id="white-paper" type="button" class="btn btn-primary btn-lg common-font mobile-button inverted-btn" >WHITE-PAPER</button></a>
</p>
<p class="text-center down-icon" style="margin-top:8rem;">
  <a href="#mytime" class="page-scroll"><img src="../img/double-down.png"></a>
</p>
<h4 class="text-center common-font" style="color: #fff;">Learn More</h4>
</div>
</div>
</div>
</div>
<div id="mytime" class="container coming-soon inner-bg clock-margin section" >
    <div class="row">
        <div class="span12">
            <h2>We're Coming Soon</h2>
            <p>DTC's ICO will begin in Aug 7!</p>
            <div class="timer">
                <div class="days-wrapper">
                    <span class="days"></span> <br>days
                </div>
                <div class="hours-wrapper">
                    <span class="hours"></span> <br>hours
                </div>
                <div class="minutes-wrapper">
                    <span class="minutes"></span> <br>minutes
                </div>
                <div class="seconds-wrapper">
                    <span class="seconds"></span> <br>seconds
                </div>
            </div>
        </div>
    </div>
</div>

<div id="intro" class="container dtcintro section" style="margin-top: 5%;">
<hr> <div class="section-title">Introduction</div><hr>
<div class="row col-md-12">
  
  <div class="col-md-8 col-md-offset-2">
    <p class="text-center inner-bg">
      <img src="../img/base_en.png" >
    </p>
    <p>
      <i>DTC is a block-chain technology integrated application platform, with tree-like layered, three-dimensional multi-chain architecture, while adding blockchain technology 2.0 as the core of the intelligent contract platform, distributed application of the underlying protocol and other innovative technologies. DTC will focus on the data storage, analysis and decision-making of various industries, while working with other application chain to achieve DTC transactions in various types of data and circulation in the future to become the Circulation of blockchain applications</i>
    </p>
  </div>
</div>
</div>

<div class="container feature section" >
<hr> <div class="section-title">Feature</div><hr>
<div class="row inner-bg">
  <div class="col-md-4 col-md-offset-1 pull-left">
    <p class="text-center">
      <img src="../img/feature1.png">
    </p>
  </div>
  <div class="col-md-4 col-md-offset-2 pull-left">
    <p>
      <i>
      <span style="font-size:16px;" >Data analysis</span>----DTC can be used for enterprise data decision-making, for the global small and medium enterprises to provide data sorting, analysis and decision-making. DTC can link an application through the side chain, and provide a number of data analysis, the data classification.
    </i>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 pull-left">
    <p>
      <i>
      <span style="font-size:16px;" >Data traceability</span>----DTC can handle multiple applications in parallel because of its side chain functions or through intelligent contractual means. The unique non-modifyable records of the block chain can show all the data trajectories of the enterprise application during operation, greatly improving the product's advantages in traceability.
    </i>
    </p>
  </div>
  <div class="col-md-4  col-md-offset-2 pull-left">
    <p class="text-center">
      <img src="../img/feature2.png">
    </p>
  </div>
  
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 pull-left">
    <p class="text-center">
      <img src="../img/feature4.png">
    </p>
  </div>
  <div class="col-md-4 col-md-offset-2 pull-left">
    <p>
      <i>
      <span style="font-size:16px;" >Identification</span>----In the centralized system, the information is not fully transparent due to the location of the center. The block chain with natural data trajectory clear and transparent, DTC through the side chain analysis, can be a perfect solution in the enterprise application for some of the identity of the simulation scene。
    </i>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 pull-left">
    <p>
      <i>
      <span style="font-size:16px;" >Decision-tree Application</span>----DTC based on the stored enterprise data, through the side-chain multi-level algorithm processing, can form a decision-making decision-making tree decision-making tree. On the basis of the decision tree, it can be developed with enterprise as the core of enterprise applications.
    </i>
    </p>
  </div>
  <div class="col-md-4 col-md-offset-2 pull-left">
    <p class="text-center">
      <img src="../img/feature3.png">
    </p>
  </div>
  
</div>
</div>
<div id="mytimeline" class="container timeline section">
<hr> <div class="section-title">Timeline</div><hr>
<div class="row col-md-12 inner-bg">
  
  <div class="col-md-10 col-md-offset-1">
    <p class="text-center">
      <img src="../img/timeline_en2.jpg" >
    </p>
    <p>
      <i>2016.10&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDTC team was established，start DTC project.<br/><br/>2017.05&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspParticipate in 3rd blockchain technology summit in New York
，The team discussed the options for changing the existing architecture of the DTC and adding new technologies for the regional chain<br/><br/>2017.08&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDTC official team publish DTC's source code, landing ICO platform<br/><br/>2017.09&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAfter ICO success  DTC will visit the  exchange site for free trade in two weeks<br/><br/>2017.10&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIn mid or late October, DTC market volatility should stabilize, open the pool<br/><br/>2017.12&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDTC official team will work with other regional chain team to achieve the market value  after December</i>
    </p>
  </div>
</div>
</div>
<div  id="myteam" class="container teamintro section" >
<hr> <div class="section-title">Team</div><hr>
  <div class="row inner-bg">
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/p1.jpg">
      </p>
      <p class="text-center">Gavin Ellis  Co-founder CEO</p>
      <p>
       <i>
        Smart Bitcoin Advocate, one of the Omni layer project sponsors. Study at the Standford University for distributed web-related knowledge. With more than 10 years of programming experience. Today focused on blockchain technology and launched DTC projects with partners.
        </i>
      </p>
    </div>
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/p4.jpg">
      </p>
      <p class="text-center">Joe Anderton  Co-founder CTO</p>
      <p>
       <i>
        Joe worked for four years at MoodStock, a Silicon Valley Artificial Intelligence start-up company, as one of the heads of the company's neural data network. After the separation of the bitcoin to the central idea and block chain technology to attract, participated in  numbers of blockchain-related projects before.
        </i>
      </p>
    </div>
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/p3.jpg">
      </p>
      <p class="text-center">Jack Yarwood Chief Advisor</p>
      <p>
       <i>
       Stanford University Professor of Computer Science.Has focused on distributed computing and storage more than 15 years.With Bitcoin & blockchain technology grows up, Jack develop smart-coin project, do lots work for building up a reliable system to strengthen security during bitcoin circulation. 
       </i>
      </p>
    </div>
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/pp4.jpg">
      </p>
      <p class="text-center">John Tang  Chief Developer</p>
      <p>
       <i>
       Bitcoin's faithful pursuer,  Geeker, worked in Amazon, was responsible for the company's logistics distribution network management. After the conversion to Bitcoin, blockchain followers, has a strong talentin the programming .
        </i>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/p2.jpg">
      </p>
      <p class="text-center">Mike Li  Product Manager</p>
      <p>
       <i>
        Many Silicon Valley companies experience, had been in the artificial intelligence company, and later removed from VC venture capital firms. Mike has a wealth of programming experience and technology venture capital concept, it is his concept to draw the development of DTC future.</i>
      </p>
    </div>
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/p2.jpg">
      </p>
      <p>
      <p class="text-center">Luka Pusic  Analysis</p>
       <i>
        Pusic has 7 years of experience working in the US and Europe as a senior developer in the fintech, automotive. He was recently involved in the development of the blockchain technology, lending data flows and user profile verification process for DTC platform.
        </i>
      </p>
    </div>
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/p31.jpg">
      </p>
      <p>
      <p class="text-center">Jure Sobocan  Finance Advisor</p>
       <i>
        Jure is a public relations and marketing professional who specialises in strategic consulting. Before his involvement in DTC project, Domen provided PR and marketing consultancy services to several domestic and international companies.
        </i>
      </p>
    </div>
    <div class="col-md-3">
      <p class="text-center">
        <img src="../img/p2.jpg">
      </p>
      <p>
      
      <p class="text-center">Ivan Dikov  Community Manager</p>
       <i>
        Ivan Dikov, spending ten years in the City of London, gaining experience at various magic circle law firms.An accomplished professional with a strong track record of overseeing comprehensive project success and delivering top performance in challenging situations.
        </i>
      </p>
    </div>
  </div>
</div>
<div class="container invest section" style="margin-top: 5%;">
 <hr> <div class="section-title">Media</div><hr>
<div class="row">
<div class="col-xs-8 col-sm-8 col-md-8 col-md-offset-2 col-xs-offset-2">
<div id="myCarousel" class="carousel slide">  
  <div class="carousel-inner">
    <div class="item active">
      <p class="text-center">
        <img src="../img/coindesk.png">
      </p>
      <p>
       <i>
        The block chain with natural data trajectory clear and transparent, through the side chain analysis, can be a perfect solution in the enterprise application for some situation of the simulation scene.
        </i>
      </p>
    </div>
    <div class="item">
      <p class="text-center">
        <img src="../img/media01.png">
      </p>
      <p>
        <i>
        DTC based on the stored enterprise data, through the side-chain multi-level algorithm processing, can form a decision-making system to solve problem based on keeping balance in side chain.
        </i>
      </p>
    </div>
    <div class="item">
      <p class="text-center">
        <img src="../img/Tokenmarket.png">
      </p>
      <p>
      <i>
        DTC will focus on the data storage, analysis and decision-making of various industries, try to connect with other application chain to  become the Circulation of blockchain applications.
        </i>
      </p>
    </div>
  </div>
  <a class="carousel-control left text-center" href="#myCarousel" 
     data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" 
     data-slide="next">&rsaquo;</a>
</div> 
</div>
</div>
</div>
<footer class="col-md-12 shrink inner-bg" style="margin-top:5%;color:#fff;">
  <h5 class="text-center">CopyRight 2016-2017 17dtchain.com All Rights Reserved.</h5>
</footer>

</body>