<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>DTC--区域链应用的数据流通者</title>
  <link rel="icon" href="./logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./logo.ico" type="image/x-icon">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
</head>

<body data-spy="scroll" data-target="#mynav" style="overflow-y: auto;">
  <div class="preload preload-show">
    <div class="logo-pos logo-up">
      <div class="preload-logo"><img class="logo-rotate" src="../img/logo.svg" width="36"></div>
    </div>
    <p class="text-center start-p start-p-up">
      <img src="../img/p1.jpg">
      <i> Gavin Ellis & Joe Anderton Launch DTC project.</i>
    </p>
    <p class="text-center start-stand start-stand-up">
      <img src="../img/stanford-logo.png">
      <i> Combined with Stanford Univercity Engineer Lab for building architecture of DTC.</i>
    </p>
    <p class="text-center start-vc start-vc-show">
      <img src="../img/westerntech.png">
      <i> DTC Team receive 500 million from Western Technology Investment.</i>
    </p>
    <p class="text-center start-conference start-conference-show">
      <img src="../img/trade.png">
      <i> Accepted as creative-architecture blockchain in 3rd blockchain technology summit.</i>
    </p>
    <div class="logo-bottom starMainIn">
      <img class="" src="../img/D logo.png" width="36"></div>
  </div>
  </div>
  <header class="navbar-fixed-top dtc-nav-color dtc-nav-bg">
    <div class="logo">
      <img src="../img/leftlogo2.png" style="height:3rem;">
    </div>
    <div id="dtchead" class="dropdown mobile-menu" style="">
      <a data-toggle="dropdown" href="#"><img src="../img/menu.png"></a></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a class="page-scroll" href="#dtchead">首页</a></li>
        <li><a class="page-scroll" href="#intro">介绍</a></li>
        <li><a class="page-scroll" href="#mytimeline">进度</a></li>
        <li><a class="page-scroll" href="#ico-plan">ICO</a></li>
        <li><a class="page-scroll" href="#myteam">团队</a></li>
      </ul>
    </div>
    <ul id="mynav" class="nav nav-pills col-md-offset-8 common-font">
       <li><a class="page-scroll" href="#dtchead">首页</a></li>
        <li><a class="page-scroll" href="#intro">介绍</a></li>
        <li><a class="page-scroll" href="#mytimeline">进度</a></li>
        <li><a class="page-scroll" href="#ico-plan">ICO</a></li>
        <li><a class="page-scroll" href="#myteam">团队</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img src="../img/flag_china.png"><span class="caret"></span>
      </a>
        <ul class="dropdown-menu" style="min-width: 0;">
          <li><a href="#"><img src="../img/flag_usa.png"></a></li>
      </li>
      </ul>
  </header>
  <div class="wrap section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <div class="text-center logo-img">
            <img src="../img/dt2.png">
          </div>
          <div class="text-center logo-word">
            <img src="../img/DTC-big2.png">
          </div>
          <h2 class="text-center common-title-font common-title-mobile" style="color: #fff;font-size: 18px;margin-top: 8rem;">区块链应用的数据流通者</h2>
          <p class="text-center dtc-btn-margin">
            <button type="button" class="btn btn-primary btn-lg common-font mobile-button token-sale">代币销售</button>
            <a href="../pdf/white-paper.pdf">
              <button id="white-paper" type="button" class="btn btn-primary btn-lg common-font mobile-button inverted-btn">白皮书</button>
            </a>
          </p>
          <p class="text-center down-icon" style="margin-top:8rem;">
            <a href="#mytime" class="page-scroll"><img src="../img/double-down.png"></a>
          </p>
          <h4 class="text-center common-font" style="color: #fff;">更多</h4>
        </div>
      </div>
    </div>
  </div>
  <div id="mytime" class="container coming-soon inner-bg clock-margin section">
    <div class="row col-md-12">
      <div class="span12">
        <h2>敬请关注</h2>
        <p>数据链 ICO 将在八月10号开始！</p>
        <div class="timer">
          <div class="days-wrapper">
            <span class="days"></span>
            <br>days
          </div>
          <div class="hours-wrapper">
            <span class="hours"></span>
            <br>hours
          </div>
          <div class="minutes-wrapper">
            <span class="minutes"></span>
            <br>minutes
          </div>
          <div class="seconds-wrapper">
            <span class="seconds"></span>
            <br>seconds
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="intro" class="container dtcintro section" style="margin-top: 5%;">
    <hr>
    <div class="section-title">介绍</div>
    <hr>
    <div class="row col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-center inner-bg">
          <img src="../img/base_en.png">
        </p>
        <p>
          <i>DTC是一种区块链技术集成应用平台，具有树状分层，三维多链架构，兼有以区块链技术2.0为核心的智能合约平台，分布式应用底层协议等创新技术。 DTC将重点关注各行业的数据存储，分析和决策，同时与其他应用链合作，实现将来各类数据和流通的DTC交易，成为区块链应用的数据流通者。</i>
        </p>
      </div>
    </div>
  </div>
  <div class="container feature section">
    <hr>
    <div class="section-title">特点</div>
    <hr>
    <div class="row inner-bg">
      <div class="col-md-4 col-md-offset-1 pull-left">
        <p class="text-center">
          <img src="../img/feature1.png">
        </p>
      </div>
      <div class="col-md-4 col-md-offset-2 pull-left">
        <p>
          <i>
      <span style="font-size:16px;" >数据分析</span>----DTC可用于企业数据决策，为全球中小企业提供数据整理，分析和决策。 DTC可以通过侧链链接应用程序，并提供一些数据分析，数据分类与决策。
    </i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1 pull-left">
        <p>
          <i>
      <span style="font-size:16px;" >数据溯源</span>----DTC因其侧链功能或者通过智能合约的手段，可并行处理多项应用。而区块链特有的不可修改的记录可显示企业级应用在运行过程中所有的数据轨迹，大大提高了产品在溯源定位上的优势。
    </i>
        </p>
      </div>
      <div class="col-md-4  col-md-offset-2 pull-left">
        <p class="text-center">
          <img src="../img/feature2.png">
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1 pull-left">
        <p class="text-center">
          <img src="../img/feature4.png">
        </p>
      </div>
      <div class="col-md-4 col-md-offset-2 pull-left">
        <p>
          <i>
      <span style="font-size:16px;" >身份识别</span>----在中心化系统中，由于中心定位的原因导致信息不具备完全公开透明。而区块链具备天然的数据轨迹清晰透明，DTC通过侧链分析，可完美的解决在企业应用中的一些由于身份模拟的场景。
    </i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1 pull-left">
        <p>
          <i>
      <span style="font-size:16px;" >决策树应用</span>----DTC以储存的企业数据为基础，通过侧链的多级算法处理，可形成有利于决策者分析决策的决策树。在决策树的基础上，可发展有着以企业为核心的企业级应用。
    </i>
        </p>
      </div>
      <div class="col-md-4 col-md-offset-2 pull-left">
        <p class="text-center">
          <img src="../img/feature3.png">
        </p>
      </div>
    </div>
  </div>
  <div id="mytimeline" class="container timeline section">
    <hr>
    <div class="section-title">Timeline</div>
    <hr>
    <div class="row col-md-12 inner-bg">
      <div class="col-md-10 col-md-offset-1">
        <p class="text-center">
          <img src="../img/timeline_en2.jpg">
        </p>
        <p>
          <i>2016.10&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDTC研发团队成立，开始筹划DTC的研发工作.<br/><br/>2017.05&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp在美国纽约召开的blockchain technology summit后，研发团队讨论了更改DTC现有架构，增加区域链新技术的方案<br/><br/>2017.08&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDTC官方发布DTC的源代码，登陆ICO交易平台<br/><br/>2017.09&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspICO成功后，DTC将在两周内登陆交易网站进行代币的自由流通。<br/><br/>2017.10&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp等到10月中下旬，待DTC市场波动应稳定，开放矿池<br/><br/>2017.12&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp12月以后，DTC官方团队将与其他区域链团队合作，实现DTC的数据链应用的流通价值。</i>
        </p>
      </div>
    </div>
  </div>
  <div id="ico-plan" class="container section">
  <hr>
    <div class="section-title">ICO计划</div>
    <hr>
    <div class="row inner-bg col-md-8 col-md-offset-2">
      <p class="text-center">
        <img src="../img/ico_plans2.jpg">
      </p>
    </div>
    <div class="row inner-bg col-md-12" style="padding-top: 0;">
      <div class="col-md-4 text-center">
        <img src="../img/ico_plan.png">
      </div>
      <div class="col-md-6 col-md-offset-2">
        <p>
          <i>DTC是一个块链技术集成应用平台，具有树状分层，三维多链架构，其即将推出的流通代币，将于2017年7月14日在官网进行ICO。ICO可用的代币总数限制为6,000万。ICO计划如下：</br> 40％的总量将被用于ICO</br> 30％的总量将由矿工开采。</br> 15％的总量将由团队持有。</br> 10％的总量将用于业务发展。 总额的5％是奖励和鼓励。
          </i>
        </p>
      </div>
    </div>
    
  </div>
  <div id="myteam" class="container teamintro section">
    <hr>
    <div class="section-title">团队</div>
    <hr>
    <div class="row inner-bg">
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/p1.jpg">
        </p>
        <p class="text-center">Gavin Ellis 联合创始人 CEO</p>
        <p>
          <i>
        Smart Bitcoin倡导者，Omni layer项目开发者。在斯坦福大学学习分布式网络相关知识。 拥有10多年的编程经验。 现今专注于块链技术，并与合作伙伴一起推出DTC项目。
        </i>
        </p>
      </div>
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/p4.jpg">
        </p>
        <p class="text-center">Joe Anderton 联合创始人 CTO</p>
        <p>
          <i>
        Joe在硅谷人工智能初创公司MoodStock工作了四年，担任公司神经数据网络的负责人之一。 被比特币的去中心化思想和区块链技术吸引，参与了多个区块链相关项目。
        </i>
        </p>
      </div>
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/np1.jpg">
        </p>
        <p class="text-center">Jack Yarwood 首席顾问</p>
        <p>
          <i>
       斯坦福大学计算机科学教授，重点关注分布式计算和存储10年以上。随着比特币和嵌入式技术的发展，Jack开发智能硬件项目，为建立可靠的系统，加强比特币流通期间的安全性做了大量工作。 
       </i>
        </p>
      </div>
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/pp4.jpg">
        </p>
        <p class="text-center">John Tang 核心开发者</p>
        <p>
          <i>
       Bitcoin的忠实追求者，技术宅Geeker，曾在Amazon工作，负责公司的物流分发网络管理。之后转为比特币，区域链的追随者，在编程上有着强大的天赋。
        </i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/p3.jpg">
        </p>
        <p class="text-center">Mike Li 产品经理</p>
        <p>
          <i>
        多家硅谷公司经历，曾在人工智能公司待过，后来辗转于VC创投公司。Mike有着丰富的编程经验与科技创投理念，正是他的观念绘制DTC的发展蓝图。</i>
        </p>
      </div>
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/p2.jpg">
        </p>
        <p>
          <p class="text-center">Luka Pusic 数据分析</p>
          <i>
        Pusic作为Fintech，Automotive的高级开发人员在美国和欧洲有着7年的工作经验。 他近几年参与了DTC区块链平台开发，专注于数据流和用户信息数据的验证流程。
        </i>
        </p>
      </div>
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/np2.jpg">
        </p>
        <p>
          <p class="text-center">Jure Sobocan 金融顾问</p>
          <i>
        Jure是专门从事战略咨询的公关和营销专业人士。 在参与DTC项目之前，Domen向几家国际公司提供了公关和营销咨询服务.
        </i>
        </p>
      </div>
      <div class="col-md-3">
        <p class="text-center">
          <img src="../img/np3.jpg">
        </p>
        <p>
          <p class="text-center">Ivan Dikov 社区经理</p>
          <i>
        Ivan Dikov, 在伦敦度过了十年时间，在各种律师事务所获得了丰富的经验。具有丰富的专业知识，与良好的业绩记录，能够掌控大型项目的整体开发与推广过程，并能在挑战性的形势下表现出色。
        </i>
        </p>
      </div>
    </div>
  </div>
  <div class="container invest section" style="margin-top: 5%;">
    <hr>
    <div class="section-title">媒体</div>
    <hr>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-md-offset-2 col-xs-offset-2">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <p class="text-center">
                <img src="../img/coindesk.png">
              </p>
              <p>
                <i>
       在区块链利用神经网络系统进行数据处理与溯源，通过侧链分析，可以在企业应用中模拟场景提供完美的解决方案。
        </i>
              </p>
            </div>
            <div class="item">
              <p class="text-center">
                <img src="../img/media01.png">
              </p>
              <p>
                <i>
        DTC基于存储的企业数据，通过侧链多级算法处理，可以形成一个基于侧链相对稳定的决策系统来解决问题。
        </i>
              </p>
            </div>
            <div class="item">
              <p class="text-center">
                <img src="../img/Tokenmarket.png">
              </p>
              <p>
                <i>
        DTC将重点关注各行业的数据存储，分析和决策，尝试与其他应用链连接，成为区块链应用的数据流通者。
        </i>
              </p>
            </div>
          </div>
          <a class="carousel-control left text-center" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="join-sale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center" id="myModalLabel">地址</h4>
        </div>
        <div class="modal-body input-group">
          <span class="input-group-addon">BTC 地址</span>
          <input type="text" id="btc-addr" class="form-control" value="" disabled>
        </div>
        <div class="modal-body input-group">
          <span class="input-group-addon">ETH 地址</span>
          <input type="text" id="eth-addr" class="form-control" value="" disabled>
        </div>
        <div class="modal-body input-group">
          <span class="input-group-addon">密钥</span>
          <input type="text" id="private-key" class="form-control" value="" disabled>
        </div>
        <p class="text-center">请记住自己的地址与密钥。</p>
        <div class="modal-footer" style="text-align:center;">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="join-sale-note" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center" id="myModalLabel">关于DTC代币</h4>
        </div>
        <div class="modal-body input-group col-md-12">
        <p class="col-md-10 col-md-offset-1" style="">
          DTC提供一个社区成员可以在此启动，推广和扩展业务的应用市场，用户可以根据自己的需求找到合适的解决方案。 DTC代币所有者在该平台上拥有软件许可证。 其价值可以根据其为投资者创造持续收益的能力的估计而进行交易。 DTC代币是数字货币思想前进的一步。 没有其他数字货币有能力在社区以外的地方增加财富。 这些工具的投资者可以通过一种新的投资者以更高的价格购买这些工具。 DTC代币可以产生收益并通过在其他区块链应用的交互中因价值而驱动价格增长.DTC代币允许任何规模大小的投资者通过分散的人群投资来参与。 在DTC应用市场中，资金总是保持分开和控制，不需要一个集中的集资基金。 这意味着您可以获得与最富有的认证投资者相同的机会，DTC令投资领域民主化。
        </p>
        </div>
        <div class="modal-footer" style="text-align:center;">
          <button id="join" type="button" class="btn btn-default" data-dismiss="modal">下一步</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="col-md-12 shrink inner-bg" style="margin-top:5%;color:#fff;">
    <h5 class="text-center">CopyRight 2016-2017 17dtchain.com All Rights Reserved.</h5>
  </footer>
</body>